:root {
    --dark-blue: #568; /* Darker shade */
    --medium-blue: #68BB; /* Lighter shade */
    --light-blue: #ACDF; /* Much lighter shade */
    --orange: #FF964F; /* Orange */
    --bownish: #A08679; /* Brun */
}

/* coloring project and the assignments */
.project {
    color: black; /* Adjust text color for better readability */
    text-decoration: underline;
    text-decoration-color: var(--orange);
}

.subproject {
    background-color: var(--dark-blue);
    color: white; /* Adjust text color for better readability */
}

.task {
    background-color: var(--medium-blue);
    color: white; /* Adjust text color for better readability */
}

.subtask {
    background-color: var(--light-blue);
    color: black; /* Adjust text color for better readability */
}

/* table */
table {
    border: 2px solid black;
    border-collapse: collapse;
    margin: 0 auto;
}

td, th {
    border: 1px solid black;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

body {
    justify-content: flex-start;
    padding-top: 150px; /* Adjust the padding as needed */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sans-Serif;
    text-decoration: none;
    transition: 2s linear;
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 2rem 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

/* color of the logo */
header .logo .beta{
    color:var(--dark-blue);
}

header .logo .solutions{
    color: black;
}

