:root {
    --dark-purple: #4B0082; /* Darker shade of purple */
    --medium-purple: #9370DB; /* Lighter shade of purple */
    --light-purple: #D8BFD8; /* Much lighter shade of purple */
}

.subproject {
    background-color: var(--dark-purple);
    color: white; /* Adjust text color for better readability */
}

.task {
    background-color: var(--medium-purple);
    color: white; /* Adjust text color for better readability */
}

.subtask {
    background-color: var(--light-purple);
    color: black; /* Adjust text color for better readability */
}

table {
    border: 2px solid black;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
}

table-header {
    text-align: center;
    font-size: x-large;
}

