<!--This is the html file for the employee page.
it shows a list of all employees and also gives the user the option to create new employees-->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of all employees</title>
    <link th:href="@{/style/style.css}" rel="stylesheet">
</head>

<body>
<h2>Employees</h2>

<button onclick="history.back()">Back to employees</button> <!-- go back to previous page -->

<!-- table to add employee to assignment -->
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Proficiency</th>
        <th>Office</th>
        <th>Add to project</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${allEmployees}">
        <td th:text="${employee.getEmployeeID()}"></td>
        <td th:text="${employee.getEmployeeName()}"></td>
        <td th:text="${employee.getEmployeeProficiency()}"></td>
        <td th:text="${employee.getEmployeeOffice()}"></td>
        <td>
            <form method="post" th:action="@{/project/{id}/employee/add/project(id=${id})}" th:object="${employee}">
                <!-- Include employeeID as a hidden field -->
                <input type="hidden" name="employeeID" id="employeeID" th:value="${employee.employeeID}"/>
                <!-- Include projectID (replace with dynamic projectID if applicable) -->

                <button type="submit">Add to Project</button>
            </form>
        </td>
    </tr>
    </tbody>

</table>

</body>
</html>