<!--This is the html file for the employee page.
it shows a list of all employees and also gives the user the option to create new employees-->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of all employees on specific project</title>
    <link th:href="@{/style/style.css}" rel="stylesheet">
</head>

<body>
<header>
    <a th:href="@{/home}" class="logo">
        <h1><span class="beta">Beta</span><span class="solutions">Solutions</span></h1>
    </a>

    <form class="logo" method="get" th:action="@{/login}" style="display:inline;">
        <button type="submit">Log out</button>
    </form>
</header>
<h2>Employees on task</h2>
<button onclick="history.back()" class="left-corner-button">Back</button> <!-- go back to previous page -->

<form th:action="@{/project/{id}/task/{taskID}/employeesNotAssignedForTask(taskID=${taskID}, id=${id})}" method="get">
    <button type="submit" class="task">Add employee to task</button>
</form>
<br>
<br>
<!-- table of all employees -->
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Proficiency</th>
        <th>Office</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${allEmployees}">
        <!--  -->
        <td th:text="${employee.getEmployeeName()}"></td>
        <td th:text="${employee.getEmployeeProficiency()}"></td>
        <td th:text="${employee.getEmployeeOffice()}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>