<!--This is the html file for the employee page.
it shows a list of all employees and also gives the user the option to create new employees-->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>List of all employees</title>
  <link th:href="@{/style/style.css}" rel="stylesheet">
</head>

<body>
<header>
  <a th:href="@{/home}" class="logo">
    <h1><span class="beta">Beta</span><span class="solutions">Solutions</span></h1>
  </a>

  <form class="logo" method="get" th:action="@{/login}" style="display:inline;">
    <button type="submit">Log out</button>
  </form>
</header>
<h2>Employees</h2>
<button onclick="history.back()" class="left-corner-button">Back</button> <!-- go back to previous page -->
<br>
<br>
<!-- table to add employee to assignment -->
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Proficiency</th>
    <th>Office</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="employee : ${allEmployees}">
    <td th:text="${employee.getEmployeeName()}"></td>
    <td th:text="${employee.getEmployeeProficiency()}"></td>
    <td th:text="${employee.getEmployeeOffice()}"></td>

    <td>

      <form method="post" th:action="@{/project/{id}/employee/{taskID}/add/task(id=${id}, taskID=${taskID})}" th:object="${employee}">
        <!-- Include employeeID as a hidden field -->
        <input type="hidden" name="employeeID" id="employeeID" th:value="${employee.employeeID}"/>
        <!-- Include projectID (replace with dynamic projectID if applicable) -->

        <button type="submit" class="task">Add to task</button>
      </form>
    </td>
  </tr>
  </tbody>

</table>

</body>
</html>