<!--This is the html file for the employee page.
it shows a list of all employees and also gives the user the option to create new employees-->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of all employees</title>
    <link th:href="@{/style/style.css}" rel="stylesheet">
</head>

<body>
<h2>Employees</h2>
<form class="logo" method="get" th:action="@{/home}" style="display:inline;">
    <button type="submit">Home</button>
</form>


<!-- table to add employee to assignment -->
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Proficiency</th>
        <th>Office</th>
        <th>Add to project</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${allEmployees}">
        <!--  -->
        <td th:text="${employee.getEmployeeName()}"></td>
        <td th:text="${employee.getEmployeeProficiency()}"></td>
        <td th:text="${employee.getEmployeeOffice()}"></td>
        <td>
            <!-- Form to add employee to project -->
            <form method="post" th:action="@{/project/employee/add}">
                <input type="hidden" name="projectID" th:value="${project.projectID}" />

                <button type="submit">Add</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>