<!--This is the html file for the employee page. It has a button that redirects to the project page.
it shows a list of all employees and also gives the user the option to create new employees-->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>

<body>
<h2>Employees</h2>
<form class="logo" method="get" th:action="@{/project}" style="display:inline;">
    <button type="submit">projectpage</button>
</form>
</body>
</html>