<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link th:href="@{/style/style.css}" rel="stylesheet">
</head>
<body>
    <header>
        <a th:href="@{/home}" class="logo">
            <h1><span class="beta">Beta</span><span class="solutions">Solutions</span></h1>
        </a>

        <form class="logo" method="get" th:action="@{/login}" style="display:inline;">
            <button type="submit">Log out</button>
        </form>
    </header>

    <h2>Home</h2>
    <form class="logo" method="get" th:action="@{/employees}" style="display:inline;">
        <button type="submit" class="employees">All employees</button>
    </form>
    <br>
    <br>
    <form class="logo" method="get" th:action="@{/project/new}" style="display:inline;">
        <button type="submit">Create Project</button>
    </form>

    <table>
        <tr>
            <th class="project">Project name</th>
            <th class="project"> PO</th>
            <th class="project">Total days</th>
            <th class="project">Total hours </th>
            <th class="project"> Deadline</th>
            <th class="project"> Start date</th>
            <th class="project"> </th>
            <th class="project"> </th>

                <!-- Added a new column for buttons -->
        </tr>
        <tr th:each="project : ${projectList}">
            <td th:text="${project.getName()}"></td>
            <td th:text="${project.getProjectOwner()}"></td>
            <td th:text="${project.getDays()}"></td>
            <td th:text="${project.getHours()}"></td>
            <td th:text="${project.getDeadline()}"></td>
            <td th:text="${project.getStartDate()}"></td>
            <td>

                <form method="get" th:action="@{/project/{id}(id=${project.getID()})}" style="display:inline;">

                    <button type="submit">View details</button>
                </form>
            </td>
            <td>
            <!-- Delete Project Button -->
            <form method="post" th:action="@{project/delete(project_id=${project.ID})}" style="display:inline;"
                  onsubmit="return confirm('Are you sure you want to delete this project? this will course all SubProjects, task and subtasks under this project to also be deleted and this action is final');">
                <button type="submit">Delete</button>
            </form>
            </td>
        </tr>
    </table>
</body>
</html>