<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link th:href="@{/style/style.css}" rel="stylesheet">
</head>
<body>
    <header>
        <a th:href="@{/home}" class="logo">
            <h1><span class="beta">Beta</span><span class="solutions">Solutions</span></h1>
        </a>

        <form class="logo" method="get" th:action="@{/login}" style="display:inline;">
            <button type="submit">Log out</button>
        </form>
    </header>

    <h2>Home</h2>
    <form class="logo" method="get" th:action="@{/login}" style="display:inline;">
        <button type="submit">loginpage</button>
    </form>
    <form class="logo" method="get" th:action="@{/employees}" style="display:inline;">
        <button type="submit">Employees</button>
    </form>

    <table>
        <tr>
            <th>Project Name</th>
            <th> PO</th>
            <th>Total Days</th>
            <th>Total Hours </th>
            <th> Deadline</th>
            <th> Start date</th>
            <th></th>

                <!-- Added a new column for buttons -->
        </tr>
        <tr th:each="project : ${projectList}">
            <td th:text="${project.getName()}"></td>
            <td th:text="${project.getProjectOwner()}"></td>
            <td th:text="${project.getDays()}"></td>
            <td th:text="${project.getHours()}"></td>
            <td th:text="${project.getDeadline()}"></td>
            <td th:text="${project.getStartDate()}"></td>
            <td>

                <form method="get" th:action="@{/project/{id}(id=${project.getID()})}" style="display:inline;">

                    <button type="submit">View Details</button>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>