<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
<header>

</header>
<h1>Velkommen</h1>
<form th:action="@{/login} "method="post" th:object="${profile}">
    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" th:value="${profile.getEmail()}" />
    </div>
    <div>
        <label class="large-text">Password:
            <input type="password" name="password" th:value="${profile.getPassword()}" required>
        </label>
        <br>
        </label>
        <br>

        <button type="submit">Login</button>
    </div>
</form>
</body>
</html>