<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
<header>

</header>
<h1>Welcome</h1>
<form th:action="@{/login/new} "method="post" th:object="${login}">
    <div>
        <label for="employeeid">EmployeeId</label>
        <input type="text" id="employeeid" name="employeeid" th:value="${login.employeeId}" />
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" th:value="${login.email}" />
    </div>
    <div>
        <label class="large-text">Password:
            <input type="password" name="password" th:value="${login.password}" required>
        </label>

        <br>

        </label>
        <br>

        <button type="submit">Save</button>
    </div>
</form>
</body>
</html>