<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link th:href="@{/style/style.css}" rel="stylesheet">
</head>
<body>
<header>
    <a th:href="@{/login}" class="logo">
        <h1><span class="beta">Beta</span><span class="solutions">Solutions</span></h1>
    </a>
</header>
<h1>Welcome</h1>
<form th:action="@{/login}" method="post" th:object="${login}">
    <div>
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" th:value="${login.email}" />
        </div>
        <div>
            <label class="large-text">Password:
                <input type="password" name="password" th:value="${login.password}" required>
            </label>
            <br>
            <button type="submit">Login</button>
        </div>
    </div>
</form>

<!-- Button for new login -->
<div>
    <p>Don't have an account?</p>
    <a th:href="@{/login/new}" class="button">Create New Login</a>
</div>
</body>
</html>
