<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Title</title>
    <link th:href="@{/style/style.css}" rel="stylesheet">
</head>
<body>
<p>login page </p>
<p>
    log ind funktion. </br>
    (ny bruger funktion)</br>


</p>

<p>(homepage)</p>
<h1>Create new profile</h1>
<form th:action="@{/login/new}" method="post" th:object="${login}"> <br>
    <br>
    <label class="large-text">Email:
        <input type="email" name="email" th:value="${login.email}" required>
    </label>
    <br>
    <label class="large-text">Password:
        <input type="password" name="password" th:value="${login.password}" required>
    </label>

    <br>
    <button type="submit">login</button>
    </form>
</body>
</html>