<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New SubProject</title>
    <link th:href="@{/style/style.css}" rel="stylesheet">
</head>
<body>
<header>
    <a th:href="@{/home}" class="logo">
        <h1><span class="beta">Beta</span><span class="solutions">Solutions</span></h1>
    </a>

    <form class="logo" method="get" th:action="@{/login}" style="display:inline;">
        <button type="submit">Log out</button>
    </form>
</header>
<h1>Create new subproject</h1>
<button onclick="history.back()" class="left-corner-button">Back</button> <!-- go back to previous page -->

<form th:action="@{/project/{id}/subproject/newSubProject/post(id=${projectID})}" method="post" th:object="${subproject}">

    <label class="large-text">Subproject name:
        <input type="text" id="projectName" name="projectName" th:field="${subproject.name}" required>
    </label>
    <br>
    <button type="submit" class="subproject">Create subproject</button>
</form>

</body>
</html>
