<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New SubTask</title>
    <link th:href="@{/style/style.css}" rel="stylesheet">
</head>
<body>
<header>
    <a th:href="@{/home}" class="logo">
        <h1><span class="beta">Beta</span><span class="solutions">Solutions</span></h1>
    </a>

    <form class="logo" method="get" th:action="@{/login}" style="display:inline;">
        <button type="submit">Log out</button>
    </form>
</header>
<h1>Create new subtask</h1>
<button onclick="history.back()" class="left-corner-button">Back</button> <!-- go back to previous page -->

<!-- Corrected the th:action and field bindings -->
<form th:action="@{/project/{projectID}/task/{taskID}/subtasks/post(projectID=${projectID}, taskID=${taskID})}" method="post" th:object="${subtask}">

    <label class="large-text">SubTask Name:
        <input type="text" id="Name" name="Name" th:field="${subtask.name}" required>
    </label>
    <br>
    <label class="large-text">Total Hours:
        <input type="number" id="Hours" name="Hours" th:field="${subtask.hours}" required>
    </label>
    <br>
    <label class="large-text">Start Date:
        <input type="date" id="StartDate" name="StartDate" th:field="${subtask.startDate}" required>
    </label>
    <br>
    <button type="submit" class="subtask">Create subtask</button>
</form>
<input type="hidden" name="taskId" th:value="${subtask.taskID}">
</body>
</html>
