<table>
    <tr>
        <th>Subproject Name</th>
        <th>ID</th>
        <th>Days</th>
        <th>Deadline</th>
        <th>Start Date</th>
    </tr>

    <!-- Loop through subprojects -->
    <tr th:each="subproject : ${subproject_overview}">
        <td th:text="${subproject.name}">Subproject Name</td>
        <td th:text="${subproject.subProjectID}">ID</td>
        <td th:text="${subproject.days}">Days</td>
        <td th:text="${subproject.deadline}">Deadline</td>
        <td th:text="${subproject.startDate}">Start Date</td>
    </tr>
</table>
