<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Project Page</title>
</head>
<body>

<h2>Subtasks:</h2>
<!-- Display the list of subtasks -->
<table>
    <thead>
    <tr>
        <th>Subtask</th>
        <th>Hours</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="subtask : ${subtasks}">
        <td><span th:text="${subtask.name}"></span></td>
        <td><span th:text="${subtask.hours}"></span></td>
    </tr>
    </tbody>
</table>

<!-- Button to create a new subtask -->
<form th:action="@{/project/{projectID}/task/{taskID}/subtasks/new(projectID=${projectID}, taskID=${taskID})}" method="get">
    <button type="submit">Create New Subtask</button>
</form>

</body>
</html>
