<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New task for SubProject</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
<h1>Create new task for subproject</h1>

<!-- new task for subproject -->
<form th:action="@{/project/{projectID}/subproject/{subProjectID}/New/task/post(projectID=${projectID}, subProjectID=${subProjectID})}" method="post" th:object="${task}">
    <label class="large-text">task Name:
        <input type="text" id="projectName" name="projectName" th:field="${task.name}" required>
    </label>
    <br>
    <label class="large-text">Total Hours:
        <input type="number" id="projectTotalHours" name="projectTotalHours" th:field="${task.hours}" required>
    </label>
    <br>
    <label class="large-text">Total Price:
        <input type="number" step="0.01" id="projectTotalPrice" name="projectTotalPrice" th:field="${task.totalPrice}" required>
    </label>
    <br>
    <label class="large-text">Start Date:
        <input type="date" id="StartDate" name="StartDate" th:field="${task.startDate}" required>
    </label>
    <br>
    <button type="submit">Create SubProject</button>
</form>
